:root {
  --black: #000000;
  --dark-grey: #808080;
  --light-grey: #c0c0c0;
  --teal: #008080;
  --white: #ffffff;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.d-flex {
  display: flex;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.italic {
  font-style: italic;
}

.hidden {
  display: none;
}
